html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  /* background-image: radial-gradient(ellipse at center, #0b275a 0%, #05132d 100%); */
}
.wrapper {
  margin: 0 auto;
  height: 40px;
  text-align: center;
}
.checkbox:not(last-of-type) {
  display: inline-block;
  margin-right: 36px;
}
.checkbox {
  position: relative;
}
.checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 300ms ease, colour 300ms ease,
    box-shadow 300ms ease;
}
.checkbox label:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  width: 50%;
  height: 30%;
  opacity: 0;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  transition: opacity 300ms ease;
}
.checkbox input {
  visibility: hidden;
}
.checkbox input:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4);
}
.checkbox input:checked + label:after {
  opacity: 1;
}

.cell {
  
}

.align {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 0px;
}

.grey {
  background-color: #F0F0F0;
  
}

